<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aletify.smiletrainmobiletwo">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".SelectAvatar"></activity>
        <activity
            android:name=".TooEarlyForPictureNotification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reviewInstructions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FirstPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogInFinal"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TestAlligner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrePhotoAlignerCheckin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SecondaryCamera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckIn3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FAQ"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateAccount"
            android:label="CreateAccount"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".LoginActivity2" />
        <activity android:name=".CameraActivity4" />
        <activity
            android:name=".MainSequence"
            android:label="@string/title_activity_main_sequence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckIn"
            android:label="@string/title_activity_check_in"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IntroductorySequence"
            android:label="@string/title_activity_introductory_sequence"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>